# SERVER
PORT=3000

# MONGO
# Format: mongodb://<username>:<password>@<host>:<port>/<db_name>?authSource=admin
MONGODB_URI=mongodb://root:password@localhost:27017/shop-db?authSource=admin

# RABBITMQ
# Format: amqp://<user>:<password>@<host>:<port>
RABBITMQ_URI=amqp://admin:password@localhost:5672