# SERVER
PORT=3000
URL_CLIENT=http://localhost:3000

# MONGO
# Format: mongodb://<username>:<password>@<host>:<port>/<db_name>?authSource=admin
MONGODB_URI=mongodb://root:password@localhost:27017/shop-db?authSource=admin

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=your_jwt_secret_key_here

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# GRAFANA LOKI
GRAFANA_URL=https://logs-prod-020.grafana.net
GRAFANA_ID=your_grafana_id
GRAFANA_WRITE_TOKEN=your_grafana_write_token

# RABBITMQ
# Format: amqp://<user>:<password>@<host>:<port>
RABBITMQ_URI=amqp://admin:password@localhost:5672